#three-canvas-container {
  height: 100vh !important;
  width: 100vw !important;
  position: fixed !important;
  top: 0;
  left: 0;
}

/* body {
  background-color: black
} */

/* canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh !important;
  width: 100vw !important;
} */


:root {
  --dark-bg: rgba(15, 15, 15, 0.3);
  --spacing: 200px;

  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1 {
  margin-bottom: 1rem;
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  /* background: var(--dark-bg); */
  grid-column: 5 / span 7;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

header p {
  font-size: 1.5rem;
  font-weight: 400;
}

section {
  grid-column: 4 / 10;
  padding: 1rem;
  /* background: var(--dark-bg); */
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  text-align: center;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 3 / span 10;
  margin-top: var(--spacing);
  /* background-color: rgba(15, 15, 15, 0.3); */
}

blockquote p {
  color: #ffffff;
  font-size: 1.5rem;
  /* display: inline; */
  line-height: 1;
}

#quote {
  font-size: 1.2rem;
  grid-column: 9 / span 10;
  margin-top: .2rem;
}

.right {
  grid-column: 4 / 10;
  margin-bottom: 3rem
}

a {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 34px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.1em;
  text-align: center;
  font-size: 0.8rem;
  margin: 0 0.5rem;
  position: relative;

  border: 2px solid #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: background-color 0.3s linear, color 0.3s linear;
  background: black;

  margin-bottom: 5rem;
}
a:hover {
  color: black;
  background: white;
}

/* #group {
  margin: 1rem 1rem;
} */

